.allVaritas{
margin-top: 5%;
}
.varitas{
    width: 60vw;
    margin-top: 3%;
   margin-left: 25%;
}
.varitasDate{ 
    position: relative;
    display: flex;
    flex-direction:row;
    width: 100%;
    /* background-color: blue; */
   
}
.varitasDate img{
   
width: 25%;
}
.letra{
color: #b88d31;

}
.varitas-allDate{
    margin-top: 3%;
    margin-left: 3%;
      display: flex;
      flex-direction: column;
}
.varitas-allDate h4{
    text-decoration:underline;
}
.btn-arriba{
    
    margin-left: 85%;
}